<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		
		<h1>Welcome to Helly's website : 
			<a href="/students">All Students</a>, 
			<a href="/students?course=1">Students by Course</a>, 
			<a href="/students/1">A Single Student By Student Number</a>, 
			<a href="/tas">All TAs</a> and 
			<a href="/courses">All Courses</a>.  </p>
		<h2>HTML5</h2>
		<p>HTML5 was first released in a public-facing form on 22 January 2008,[2] with a major update and "W3C Recommendation" status in October 2014.[5][6] Its goals were to improve the language with support for the latest multimedia and other new features; to keep the language both easily readable by humans and consistently understood by computers and devices such as web browsers, parsers, etc., without XHTML's rigidity; and to remain backward-compatible with older software. HTML5 is intended to subsume not only HTML 4 but also XHTML1 and even the DOM Level 2 HTML itself.[7]</p>

		<!-- End your code here  -->



	</main>
</div>