@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bg-light {
    background: rgb(231, 148, 6);
    background: linear-gradient(0deg, rgb(11, 236, 142) 0%, rgba(46,48,53,1) 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-light .navbar-brand {
    font-family: 'Roboto', sans-serif !important;
    text-shadow: 2px 2px #ff33a3fc, -2px -2px cyan;
    font-weight: bold;
    color: white;
}

.nav-link {
    font-family: 'Roboto', sans-serif !important;
    color: rgb(235, 235, 76) !important;
}

.nav-link:hover, .nav-item.active {
    background-color: rgb(167, 30, 236) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translate3d(0px, -1px, 0px);
}

body {
    background: linear-gradient(to right, #f75fff, #cefe7b);
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #141475;
}

thead, tbody tr:nth-child(even) {
    background-color: #893232;
}

h1, h2, h3, h4, h5, h6, a, p, label, td, th, ol, li {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a:hover {
    color: #3198c8;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-section {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    margin-right: 10px;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

.form-column:last-child {
    margin-right: 0px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,.2) !important;
    color:white !important;
}

input[type="text"]:focus:hover, input[type="email"]:focus:hover {
    background-color: rgba(0,0,0,.2) !important;
    color:white !important;
    border: 2px blue;
}

.checkpoint-label {
    display: inline-block;
    margin-right: 10px;
}

.submit-button {
    background-color: lightgray;
    color:black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #e13de4;
    color: white;
}

.navbar {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px #000;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ff7e5f;
}

.btn-primary {
    background-color: #ff7e5f;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #feb47b;
}

table {
    width: 100%;
    margin-top: 20px;
}

tr:nth-child(odd) td {
    background-color: #ffe0cc;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    text-shadow: 1px 1px 2px #fff;
}

a {
    color: #625fff;
}

a:hover {
    color: #e4fe7b;
}

legend {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px #ffffff;
}
